<% content_for :head do %>
  <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
  <!-- Lien CDN pour les CSS de Swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
<!-- Lien CDN pour les JS de Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<% end %>

<style>

.swiper {
  width: 30%; /* Utilisez 100% de la largeur disponible */
  height:100px; /* Hauteur fixe pour contrôler la taille des logos */
}

.swiper-wrapper {
  align-items: center; /* Centrer les logos verticalement */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; /* Ajustez l'espacement autour des logos */
}

img {
  max-height: 80%; /* Taille relative pour une meilleure adaptabilité */
  object-fit: contain;
}

</style>

<div class="d-flex justify-content-center align-items-center">
  <div class= "right-element">
    <div class="formation-header">
      <h1 style=" font-size: 32px;font-weight: bold;"><strong>Formation 4.0</strong></h1>
      <h2>Video Tool</h2>
      <p style="color=gray;">
        avec Video Tool des formations à</br>
        filmer pour accroitre la conscience</br>
        des risques, atteindre l'excellence</br>
        opérationnelle et construire une</br>
        identité forte.
      </p>
    </div>
  </div>
  <div style="width:25%;"class ="left-element">
    <%= image_tag '2-1.jpg'%>
  </div>
</div>

 

<div class="d-flex justify-content-center align-items-center">
  <h2 style ="font-size: 16px;"><strong>Acquérir des connaissances concrètes</br> en situation réelle</strong></h2>
</div>

<div class= "align">
<div class="d-flex justify-content-center align-items-center">
  <div class="video-player">
    <video controls class="video">
      <source src="videos/Director-how-it-works-fond-blanc-V3-1.mp4" type="video/mp4">
    </video>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <h2><strong>
    Une approche image pour des formations<span style="color: blue; font-size=10px;"> accessibles à tout public </span>
  </strong></h2>
</div>

<div class="spacer" style="height: 50px;"></div> 
<!-- Je dois revoir cette partie pour ajuster  les images -->
<div class="image-mon">
  <%= image_tag 'mon.png', alt: 'Descriptive alt text', class: 'background-image' %>
  <div class="overlay-text">
    AUTONOMIE • EXPERIMENTATION • IMPLICATION 
  </div> 
  </div>
</div>

<div class="content-wrapper">
  <ul class="list">
    <li>Expérimenter les instructions</li>
    <li>Autonomiser pour apprendre</li>
    <li>Impliquer par l'action</li>
    <li>Agir sur les comportements</li>
    <li>Une culture de la sécurité vivante</li>
    <li>Respecter les spécificités de vos sites</li>
  </ul>
  <div class="learn-more">
    <%= link_to 'En savoir plus →',firstensp_path, class: 'learn-more-link-white' %>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center">
  <div class="custom-bottom">
    COMMENT ÇA MARCHE?
  </div>
</div>
 <h2 style="color: gray;">La rencontre de la technologie et du contenu d'apprentissage</h2>


<div class="d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="card-header">
      <!--<span class="icon">CD201F</span> i will find the way to put the icon after  -->
      <%= image_tag("youtube.png", alt: "Button 1", class: "youtube-image") %>
        <span><h2 style="color: pink; font-weight: bold;">Gestion de vos formations :</h2></span>

    </div>
    <ul class="card-list-rose">
      <li>Catalogue des formations disponibles pour votre société</li>
      <li>Réunir une équipe de tournage, et nommer un réalisateur</li>
      <li>Visualiser les avancées du projet grâce à un code couleur intuitif</li>
      <li>Diffusez les vidéos de vos équipes dès réception du montage</li>
      <li>Envoi de rappels de consigne</li>
      <li>Suivi et données d'utilisation</li>
    </ul>
   
    <div class="d-flex justify-content-start align-items-center">
      <div class="learn-more">
        <%= link_to 'En savoir plus →',pinkensp_path, class: 'learn-more-link-pink' %>
      </div>
  </div>
    <!--<span class="icon"><i class="fab fa-youtube"></i></span> -->
  </div>
  <div class="card">
    <div class="card-header">
      <span class="icon">📹</span> <!-- Replace with your icon -->
      <span><h2 style="color: blue; font-weight: bold;">Téléchargez vos formations prêtes à filmer :</h2></span>
    </div>
    <ul class="card-list-bleue">
      <li>Recevez un email et téléchargez votre formation</li>
      <li>Durée de la formation entre 15 et 30 minutes en moyenne</li>
      <li>Une appli tout public : naviguez sur une interface simplifiée au maximum; tout le monde peut l'utiliser!</li>
      <li>Interactivité : chaque séquence à filmer est une étape de la formation</li>
    </ul>
  <div class="d-flex justify-content-start align-items-center">
    <div class="learn-more"><%= link_to 'En savoir plus →', pinkensp_path, class: 'learn-more-link-blue' %></div>
  </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <h2><strong>Des fonctionnalités faites pour vous</strong></h2>
</div>
<!--card configuration-->
<div class="card-containers">
  <div class="card-contentes">
    <div class="card-front">
      <i class='fas fa-head-side-virus' style="font-size:48px;"></i><br>
    </div>
    <div class="card-back">
      <p class="config-description">
        <span style="color: white;"> Envoyez des appels de sécurité<br> instantanés directement sur le <br> téléphone portable d'un<br>  collègue qui reflète la situation <br> exacte que l'employé ou <br> l'entreprise extérieure<br>  rencontrera sur sur site.
        </span>
        <!--<a href="https://youtu.be/YRjwAAxhmec" class="btn">Watch Trailer</a>-->
    </div>
  </div>
</div>
<!-- les élements qui défile: site pour voir le code  https://www.smashingmagazine.com/2024/04/infinite-scrolling-logos-html-css/-->
<!--
<figure class="marquee">
  <img class="marquee__item" src="images.png" width="100" height="100" alt="Company 1">
  <img class="marquee__item" src="logo-2.png" width="100" height="100" alt="Company 2">
  <img class="marquee__item" src="logo-3.png" width="100" height="100" alt="Company 3">
</figure>-->

  

<div class="d-flex justify-content-center align-items-center">
  <div class="custom-btn">
    COMMUNICATION ÉMOTIONNELLE
  </div>
</div>

Pour combattre
l’habitude et les risques 
peu perceptibles
<div class="content">
  <div class="image-text-container">
    <div class="text-content">
      <h2><strong>Sentir et ressentir</strong></h2>
      <h1><strong>
        Pour combattre</br>
        l’habitude et les risques</br>
        peu perceptibles</strong></h1>
      <p>
        <ul>
          <li>L’émotion est un vecteur de</li>
          <li>communication</li>
          <li>sans égal, pour ouvrir les yeux sur ce qu’on </li>
          <li>ne voit plus. Le message s’adresse au</li>
          <li>Cœur</li>
          <li>de vos équipes et suscite une réaction, à</li>
          <li>l’intensité souvent inattendue.</li>
        </ul>      
      </p>
      <p>
        <ul>
          <li>Personnaliser une vidéo c’est jeter un pont </li>
          <li>entre soi et l’histoire qui arrive au collègue.</li>
          <li>Une histoire qui pourrait être la nôtre,</li>
          <li>aujourd’hui dans notre usine ou sur notre</li>
          <li>chantier.</li>
        </ul>      
      </p>
      <div class="customization-options">
        <h3>Séquences personnalisables :</h3>
        <ul>
          <li>usines, poste de travail,</li>
          <li>portrait, équipes, bonnes</li>
          <li>mesures à prendre</li>
        </ul>
      </div>
    </div>
  </div>
</div>




<div class="same">
  <h1>"Et si c'était moi?"</h1>
  <div class="learn-more"><%= link_to 'En savoir plus →',etsisetaitmoi_path, class: 'learn-more-link-blue' %></div>

</div>

<div class="d-flex justify-content-center align-items-center">
  <div class="add-theme-button">
    AJOUTER UN NOUVEAU THÈME : FACILE !
  </div>
</div>


<div class="digital-approach">
  <h2><strong>Une approche digitale cohérente</strong></h2>
  <p>
  Procédures, consignes, votre documentation est qualitative. Il suffit de la transposer en format numérique VideoTool !</br> 
  Pour chaque étape de la formation nous créons un exemple vidéo qui servira de référence (que dois-je faire ?) et un </br>
  transparent graphique pour guider la phase de réalisation.</p>
</div>
<div class="tech">
  <%= image_tag("Adding-a-new-topic_poster-1-1536x743.png") %>
</div>
<div class="features-container">
  <ul class="features-list">
    <li>Un processus simple et coherent car il repose sur votre documentation</li>
    <li> Une validation simplifiée car la formation Video Tool ... c'est votre formation en mode digital</li>
    <li>Les séquences à customiser dépendent de vos besoins, tout le film, ou quelques séquences</li>
  </ul>
  <div class="d-flex justify-content-center align-items-center">
    <div class="learn-more"><%= link_to 'En savoir plus →', 'https://discover-frareg.videotool.app/fn/empowen-improve-engage-fr', class: 'learn-more-link-blue' %></div>
  </div>
</div>

<div class="Tool">
  <div class="title">
    <h2><strong>Video Tool est une réponse simple à la plupart de vos problématiques</strong></h2>
  </div>

  <!--<div id="topics-list" class="topics-list">-->
  <div class="column left-column">
    <ul>
      <li>Sécurité</li>
      <li>WCM</li>
      <li>Qualité</li>
      <li>Process & Maintenance</li>
      <li>Ressources humaines</li>
      <li>formation</li>
      <li>Premiers secours</li>
      
    </ul>
  </div>
  <div class="column right-column">
    <ul>
      <li>Misc Trainings</li>
      <li>Procédures</li>
      <li>Modop</li>
      <li>Consignes</li>
      <li>Acceuil au poste</li>
      <li>Acceuil sécurité</li>
      <li>...</li>
      
    </ul>
  </div>
</div>
  <div class="Tool-container">
    <button onclick="splitTransition()">Demander un nouveau thème</button>
  </div>
</div>


<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><%= image_tag 'saitgobain1.jpg', alt: 'Saint-Gobain' %></div>
    <div class="swiper-slide"><%= image_tag 'certennew1.jpg', alt: 'CertainTeed' %></div>
    <div class="swiper-slide"><%= image_tag 'isovernew1.jpg', alt: 'Isover' %></div>
    <div class="swiper-slide"><%= image_tag 'webernew1.jpg', alt: 'Weber' %></div>
    <div class="swiper-slide"><%= image_tag 'pamnew1.jpg', alt: 'PAM' %></div>
  </div>
  <!-- Pagination and Navigation -->
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<div class="testimonials-container">
  <div class="testimonial-header">
    TÉMOIGNAGES
  </div>
  <div class="video-temoignage">
    <%= image_tag 'Image_témoignage.png', class: 'background-image' %>
    <button>▶</button>
  </div>
    <div class="video-container" style="display:none;">
    <video controls class="video">
      <source src="videos/Director-how-it-works-fond-blanc-V3-1.mp4" type="video/mp4">
    </video>
    <button class="close-button">✖</button>
  </div>
  <p class="testimonial-caption">« les équipes ont franchi un cap aujourd’hui »</p>

</div>

<script>
  
document.addEventListener('DOMContentLoaded', function () {
  var mySwiper = new Swiper('.mySwiper', {
    slidesPerView:3,
    spaceBetween: 20,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 2000,
    },
  });
});

</script>
